* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Super Sunday";
    src:
        url("fonts/super_sunday_personal_use-webfont.woff2") format("woff2"),
        url("super_sunday_personal_use-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }

body {
    
    background-color: aqua;
}


.signup {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: black
}

.left {
    width: 30%;
    height: 100vh;
}

img {
    height: 100vh;
}

h2 {
    top: 200px;
    left: 150px;
    position: absolute;
    font-size: 50px;
}

.right {
    width: 70%;
    height: 100vh;
    background-color:chartreuse;
}