* {
    margin: 0;
    padding: 0;
}

body {
    
    background-color: aqua;
}

.signup {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: black
}

.left {
    width: 30%;
    height: 100vh;
}

img {
    height: 100vh;
}

.right {
    width: 70%;
    height: 100vh;
    background-color:chartreuse;
}